header {
  background-color: rgb(54, 54, 54);
}

.jumbotron {
  background-color: rgb(206, 225, 231);
  padding: 3rem;
}

.cards {
  display: flex;
}

footer {
  background-color: rgb(54, 54, 54);
  padding-top: 1rem;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
.dropdown {
  padding-left: 10rem;
}
